/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    main {
        padding: 64px 20%;
    }
    /* CSS */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    header {
        h1 {
            font-size: 26px;
        }
        li {
            margin: 0 0px;
        }
    }
    main {
        padding: 64px 5%;
    }

    /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
    header {
        height: 600px;
        flex-direction: column;
        width: 100%;

        .headerTop {
            flex-direction: column;

            ul {
                margin: 10px 0;
                li {
                    margin-right: 15px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        h1 {
            font-size: 24px;
        }
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//     /* CSS */
// }

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */

    header {
        height: 900px;
        flex-direction: column;
        width: 100%;

        .headerTop {
            flex-direction: column;

            ul {
                margin: 10px 0;
                li {
                    margin-right: 15px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        h1 {
            font-size: 20px;
        }

        .headerHero {
            display: flex;
            flex-direction: column;
        }
    }

    main {
        .mainTop {
            flex-direction: column;
            row-gap: 30px;

            .mainTopLeft {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 400px;
                img {
                    max-width: 80%;
                }
            }
        }

        .mainBottom {
            flex-direction: column;
            row-gap: 20px;

            div {
                img {
                    height: 250px;
                }
            }
        }
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (max-width: 480px) {
    /* CSS */

    header {
        height: 1000px;
        flex-direction: column;
        width: 100%;

        .headerTop {
            flex-direction: column;

            ul {
                margin: 10px 0;
                li {
                    margin-right: 15px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        h1 {
            font-size: 20px;
        }

        .headerHero {
            display: flex;
            flex-direction: column;
        }
    }

    main {
        .mainTop {
            flex-direction: column;
            row-gap: 30px;

            .mainTopLeft {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 400px;
                img {
                    max-width: 80%;
                }
            }
        }

        .mainBottom {
            flex-direction: column;
            row-gap: 20px;

            div {
                img {
                    height: 200px;
                }
            }
        }
    }
}
